<!-- login-cliente.component.html -->

<div class="login-container">
  <h2>{{ tituloFormulario }}</h2>

  <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" placeholder="Digite seu email">
    </div>

    <div class="form-group">
      <label for="senha">Senha:</label>
      <input type="password" id="senha" formControlName="senha" placeholder="Digite sua senha">
    </div>

    <button type="submit">Entrar</button>
    <div class="cadastro-link">
      <p>Não possui uma conta? <a routerLink="/clientes">Cadastre-se</a></p>
  </div>
  </form>
</div>
