<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pré-Login</title>
<!-- Adicione os links para seus estilos CSS, se necessário -->
<!-- <link rel="stylesheet" href="seu-estilo.css"> -->
</head>
<body>

<div class = "all">
  <h1>Logar como: </h1>

  <!-- Botão para a tela de login do cliente -->
  <div class = "button">
    <button (click)="irParaLoginCliente()">Cliente</button>

    <!-- Botão para a tela de login do gerenciador -->
    <button (click)="irParaLoginGerenciador()">Gerente</button>
    </div>
</div>

<!-- Adicione seus scripts e referências ao Angular, se necessário -->
<!-- <script src="seu-script.js"></script> -->

</body>
</html>