<!-- login-funcionario.component.html -->

<div class="login-container">
    <h2>{{ tituloFormulario }}</h2>
  
    <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
      <div class="form-group">
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" formControlName="cpf" placeholder="Digite seu CPF">
      </div>
  
      <div class="form-group">
        <label for="senha">Senha:</label>
        <input type="password" id="senha" formControlName="senha" placeholder="Digite sua senha">
      </div>
  
      <button type="submit">Entrar</button>
    </form>

    <div class="cadastro-link">
        <p>Não possui uma conta? <a routerLink="/funcionarios">Cadastre-se</a></p>
    </div>
  </div>
  